* {
  box-sizing: border-box;
}
.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-semibold {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 600;
  font-style: normal;
}
body {
  /* width: 100vh;
  overflow: hidden; */
  margin: 0 auto;
  background-color: #ecf2f8;
}
p,
span,
cite,
blockquote {
  margin: 0;
}
.Name {
  padding-inline-start: 46px;
  position: relative;
  font-size: 13px;
  line-height: 13px;
}
main {
  margin: 0 auto;
  width: 1110px;
  display: grid;
  column-gap: 30px;
  row-gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-block: 162px;
}
article {
  padding: 26px 32px;
  border-radius: 8px;
}
cite span {
  font-size: 11px;
  line-height: 11px;
  margin-bottom: 18px;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 4px;
  display: block;
}
blockquote div p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}
q {
  font-size: 13px;
  line-height: 18px;
  mix-blend-mode: normal;
  opacity: 0.7;
}
.Daniel {
  min-height: 282px;
  background-color: #733fc8;
  grid-column-start: 1;
  grid-column-end: 3;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-position-x: 82%;
  position: relative;
}
.Daniel .Name::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  border: 2px solid #a775f1;
  border-radius: 50%;
  background-image: url(./images/image-daniel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
}
.Daniel blockquote p {
  color: #ffffff;
}
.Daniel cite span {
  color: #ffffff;
}
.Daniel blockquote q {
  color: #cfcfcf;
}
.Jonathan {
  min-height: 282px;
  background-color: #48556a;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
}
.Jonathan .Name::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  /* border: 2px solid #a775f1; */
  border-radius: 50%;
  background-image: url(./images/image-jonathan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
}
.Jonathan {
  color: #ffffff;
}
.Jonathan cite {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Jeanette {
  min-height: 266px;
  background: #ffffff;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
}
.Jeanette .Name::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  /* border: 2px solid #a775f1; */
  border-radius: 50%;
  background-image: url(./images/image-jeanette.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
}
.Jeanette {
  color: #48556a;
}
.Patrick {
  min-height: 266px;
  background-color: #19202d;
  grid-column-start: 2;
  grid-column-end: 4;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
}
.Patrick .Name::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  border: 2px solid #a775f1;
  border-radius: 50%;
  background-image: url(./images/image-patrick.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
}
.Patrick cite {
  color: #ffffff;
}
.Patrick div p {
  color: #ecf2f8;
}
.Patrick div q {
  color: #ffffff;
}
.Kira {
  min-height: 572px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  background: #ffffff;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
}
.Kira .Name::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  /* border: 2px solid #a775f1; */
  border-radius: 50%;
  background-image: url(./images/image-kira.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
}
.Kira {
  color: #48556a;
}
